.grid {
  max-width: 1400px;
}

.headline {
  position: absolute;
  width: 100%;
  background: orange;
  height: 120px;
  margin-bottom: 1%;
}

.grid-item {
    height: 120px;
    float: left;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
    border-color: black;
    margin-bottom: 1%;
}

/* fluid 3 columns */
.grid-sizer,
.grid-item { width: 45%; }
/*.gutter-sizer { width: 1%; }*/
