<a id="logo" href="{{ .Site.Home.RelPermalink }}">
    <img src="{{ "images/logo.png" | relURL }}" style="width: 20%;
    filter: brightness(0%) invert(100%);
    -webkit-filter: brightness(0%) invert(100%);
    -moz-filter:  brightness(0%) invert(100%);
    -o-filter:  brightness(0%) invert(100%);
    -ms-filter:  brightness(0%) invert(100%);
    float: left;
    margin-left:2%;">
    </img>
    <h2 style="color: white;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1%;
    float: left;">digi4all</h2>
</a>